body{
	background-image: url('../img/B.jpg');
	background-size:cover;
	
}
.About-Us{
	margin-top:5%;
	font-size:20px;
}
.Link{
	font-weight: bold;
}

.link a {
  color: blue;  
  text-decoration: none; 
  font-size: 18px;  
}

.link a:hover {
  color: red;  
  text-decoration: underline;  
}

.link a {
  color: blue;  
  text-decoration: none; 
  font-size: 18px;  
}

.link a:hover {
  color: red;  
  text-decoration: underline;  
}

.About-Us ::selection {
    background-color: lightgreen;
    color: black;
}
